# Insurance Customer Lifetime Value Prediction

## Importing the libraries

In [8]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

## Data preprocessing

In [9]:
data = pd.read_csv('Vahan_Bima.csv')
data

,gender,area,qualification,income,marital_status,vintage,claim_amount,num_policies,policy,type_of_policy,cltv
0,Male,Urban,Bachelor,5L-10L,1,5,5790,More than 1,A,Platinum,64308
1,Male,Rural,High School,5L-10L,0,8,5080,More than 1,A,Platinum,515400
2,Male,Urban,Bachelor,5L-10L,1,8,2599,More than 1,A,Platinum,64212
3,Female,Rural,High School,5L-10L,0,7,0,More than 1,A,Platinum,97920
4,Male,Urban,High School,More than 10L,1,6,3508,More than 1,A,Gold,59736
...,...,...,...,...,...,...,...,...,...,...,...
89387,Male,Rural,High School,More than 10L,0,6,0,More than 1,B,Platinum,95736
89388,Male,Urban,Bachelor,5L-10L,1,0,3897,More than 1,A,Platinum,67596
89389,Female,Urban,Bachelor,5L-10L,0,4,3363,More than 1,B,Platinum,114120
89390,Female,Rural,High School,2L-5L,0,8,0,More than 1,B,Platinum,71772
89391,Female,Rural,High School,5L-10L,0,6,0,More than 1,B,Gold,108144

In [10]:
data = pd.get_dummies(data[['gender', 'area', 'qualification', 'income', 'marital_status', 'vintage', 'claim_amount', 'num_policies', 'policy', 'type_of_policy', 'cltv']], drop_first= True)
data

,marital_status,vintage,claim_amount,cltv,gender_Male,area_Urban,qualification_High School,qualification_Others,income_5L-10L,income_<=2L,income_More than 10L,num_policies_More than 1,policy_B,policy_C,type_of_policy_Platinum,type_of_policy_Silver
0,1,5,5790,64308,True,True,False,False,True,False,False,True,False,False,True,False
1,0,8,5080,515400,True,False,True,False,True,False,False,True,False,False,True,False
2,1,8,2599,64212,True,True,False,False,True,False,False,True,False,False,True,False
3,0,7,0,97920,False,False,True,False,True,False,False,True,False,False,True,False
4,1,6,3508,59736,True,True,True,False,False,False,True,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89387,0,6,0,95736,True,False,True,False,False,False,True,True,True,False,True,False
89388,1,0,3897,67596,True,True,False,False,True,False,False,True,False,False,True,False
89389,0,4,3363,114120,False,True,False,False,True,False,False,True,True,False,True,False
89390,0,8,0,71772,False,False,True,False,False,False,False,True,True,False,True,False
89391,0,6,0,108144,False,False,True,False,True,False,False,True,True,False,False,False

In [11]:
X = data.drop('cltv', axis = 1)
y = data['cltv']

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

## Modeling

In [13]:
model = LinearRegression()
model = model.fit(X_train, y_train)
y_pred = model.predict(X_test)

## Evaluating the model

In [14]:
r2_score(y_test, y_pred)

0.1550153193303997